#include <stdio.h>
#include <stdlib.h>

#include "{{ here }}/csource/psychic.h"
#include "{{ here }}/csource/psychic_share.h"

{% for include in includes %}
#include "{{ include }}"
{% endfor %}

int pc_total_assertions = 0;
int pc_current_test_failed = 0;

int main(int argc, char* argv[]) 
{
        int pc_failures = 0;

{% for test in testcases %}
        {{ test }};
        if (pc_current_test_failed) 
        {
            pc_failures++;
            printf("F");
        } else 
        {
            printf(".");
        }

        pc_current_test_failed=0;
{% endfor %}

       return pc_failures;
}
